<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.TravU.mapper.qna.IFile_qnaMapper">
    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO file_qna
            (bbsno, origin, save, size)
        VALUES (#{bbsno},
                #{origin},
                #{save},
                #{size})
    </insert>

    <select id="fileBybbsno" parameterType="int" resultType="com.main.TravU.dto.qna.File_qnaDTO">
        SELECT *
        FROM file_qna
        WHERE available = 1
          AND bbsno = #{bbsno}
        ORDER BY bbsno
    </select>

    <select id="fileByfileno" parameterType="list" resultType="com.main.TravU.dto.qna.File_qnaDTO">
        SELECT *
        FROM file_qna
        WHERE available = 1
        AND fileno IN
        <foreach item="fileno" collection="list" open="(" separator="," close=")">
            #{fileno}
        </foreach>
        ORDER BY fileno
    </select>

    <delete id="deleteFile" parameterType="list">
        UPDATE file_qna
        SET available = 0
        WHERE fileno IN
        <foreach item="fileno" collection="list" open="(" separator="," close=")">
            #{fileno}
        </foreach>
    </delete>
</mapper>